.post-list-container {
    
    .cards-container {

        margin: 0.3rem;
        
        .card {
            margin: 0.5rem;
            img {
            width: 90%;
            }
            a {
                
                span {
                    cursor: pointer;
                    width: 5%;
                    height: 10%;
                    padding: 0.3rem;
                }
            }
        }
    }
}