<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
  <div><img src="assets/logo.png" alt="logo" /></div>
  
  <ul class="navbar-nav">
     
    <li><a *ngIf="authService.isUserLoggedIn()" [routerLink]="['/post']" class="nav-link">Posts</a></li>
    <li><a *ngIf="authService.isUserLoggedIn()" [routerLink]="['/post', 'new']" class="nav-link">Add New Post</a></li>
    <li><a *ngIf="!authService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
    <li><a *ngIf="authService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>
  
  </ul>
    </nav>
  </header>