.container {
    .header {

        display: flex;
        align-content: center;
        align-items: center;
        .avatar {
            
            height: 150px;
            border-radius: 10rem;
        }
        h1 {
            font-family: 'sans-serif';
            font-style: italic;
            padding: 1.5rem;
        }
    }
}